<div class="layout">
    <header>Roll Dice for X Birds in Habitat</header>

    <div class="blurb-header">
        <div>
            Activations for rolling a number of dice equal to the number of birds in a particular habitat
        </div>
        <br />
        <div>
            <i>Click below for each birds probability of success and expected value</i>
        </div>
    </div>

    <nav class="bird-index">
        <ul class="index-list" id="index-list"></ul>
    </nav>
    <div id="results-container"></div>


</div>