<div class="layout">
    <header class="header">Wingstats</header>

    <div class="blurb-header">
        <div>
            Detailing the probabilities of success for the various activation powers from the board game "Wingspan"
        </div>
        <br />
        <div>
            <i>Click below to browse through the various power types</i>
        </div>
    </div>

    <section class="section">
        <h2 class="section-header">🎲 Dice Activations</h2>
        <div class="card-grid">
            <a class="card" href="/wingstats/dice/roll-dice-not-in-the-birdfeeder">Roll Dice Not In The Birdfeeder</a>
            <a class="card" href="/wingstats/dice/roll-dice-for-x-birds-in-habitat">Roll Dice for X Birds in Habitat</a>
            <a class="card" href="/wingstats/dice/roll-any-x-die">Roll Any X Di(c)e</a>
            <a class="card" href="/wingstats/dice/reset-the-birdfeeder">Reset the Birdfeeder</a>
            <a class="card" href="/wingstats/dice/push-your-luck">Push Your Luck</a>
            <a class="card" href="/wingstats/dice/philippine-eagle">Philippine Eagle</a>
            <a class="card" href="/wingstats/dice/masked-lapwing">Masked Lapwing</a>
            <!-- TODO more cards -->
        </div>
    </section>

    <section class="section">
        <h2 class="section-header">🃏 Draw Card Activations</h2>
        <div class="card-grid">
            <a class="card" href="/wingstats/drawcard/push-your-luck">Push Your Luck</a>
            <!-- TODO more cards -->
        </div>
    </section>
</div>